/*
 * MacPorts Guide Stylesheet
 */

/*
   CSS design by Mark Duling
*/

div.book {
	max-width: 1000px;
	margin: 0 auto;
}

body.chunked div.navheader {
	max-width: 1000px;
	margin: 0 auto;
}

body.chunked div.navfooter {
	margin-left: 183px;
	padding: 0 0 40px 10px;
}

body.chunked div.navheader tr:first-child > th {
	margin: 0;
	background: url("https://www.macports.org/img/macports-logo-top.png") no-repeat;
	background-size: 183px 73px;
	padding-top: 18px;
	padding-left: 183px;
	padding-bottom: 35px;
	font-size: 32px;
	color: #0155cd;
	text-align: left;
}

body.chunked div.titlepage h1 {
	display: none;
}

div.book > div.titlepage {
	padding-bottom: 40px;
}

body.chunked div.book > div.titlepage {
	max-width: 600px;
	margin: 0 auto;
}

body.singlepage div.book > div.titlepage h1.title {
	margin: 0;
	display: block;
	height: 50px;
	background: url("https://www.macports.org/img/macports-logo-top.png") no-repeat;
	background-size: 183px 73px;
	padding-left: 183px;
	font-size: 32px;
	padding-top: 18px;
	color: #0155cd;
}

body.singlepage div.book > div.titlepage h1.title span.application,
body.chunked div.navheader tr:first-child > th span.application {
	display: none;
}

div.book > div.titlepage div.authorgroup {
	text-align: center;
}

div.book > div.titlepage div.authorgroup div.author {
	display: inline;
	margin-left: 20px;
}

div.book > div.titlepage div.authorgroup div.author h3.author {
	color: #000;
	display: inline;
}

div.book > div.titlepage p.copyright {
	text-align: center;
	font-size: 90%;
	color: #333;
	margin: 0;
}

body.chunked div.navheader hr,
body.chunked div.navfooter hr,
div.book > div.titlepage hr {
	display: none;
}

body.chunked div.toc:first-child,
body.singlepage div.toc {
    width: 183px;
    background: url("https://www.macports.org/img/nav-header.png") top no-repeat #B1BACC;
    line-height: 1.4em;
	float: left;
}

body.chunked div.toc:first-child {
	position: absolute;
	top: 130px;
	margin-bottom: 50px;
}

body.chunked div.toc:first-child > dl,
body.singlepage div.toc > dl{
	padding: 16px 0;
	margin: 0;
	background: url("https://www.macports.org/img/nav-footer.png") bottom no-repeat;
}

body.singlepage div.toc > dl {
	max-height: 90vh;
	overflow: auto;
}

body.chunked div.toc:first-child > dl > dt,
body.singlepage div.toc > dl > dt {
	display: block;
    margin: 5px 0 0 0;
    padding: 0 12px;
    font: bold 100% "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.chunked div.toc:first-child > dl > dt a,
body.singlepage div.toc > dl > dt a {
	display: block;
	color: #fff;
	text-decoration: none;
}

body.chunked div.toc:first-child > dl > dt a:hover,
body.singlepage div.toc > dl > dt a:hover {
	text-decoration: underline;
}

body.chunked div.toc:first-child > dl dd,
body.singlepage div.toc > dl dd {
	margin: 0;
	padding: 0;
	font-size: 95%;
}

body.chunked div.toc:first-child > dl dd dl dt,
body.singlepage div.toc > dl dd dl dt {
	display: block;
	padding: 0 12px 0 16px;
}

body.chunked div.toc:first-child > dl dd dl dt a,
body.singlepage div.toc > dl dd dl dt a {
	display: block;
    text-decoration: none;
    color: #242933;
}

body.chunked div.toc:first-child > dl dd dl dt a:hover,
body.singlepage div.toc > dl dd dl dt a:hover {
	text-decoration: underline;
}

body.chunked div.book > div.chapter,
body.chunked div.book > div.section,
body.chunked div.book > div.refentry,
body.singlepage div.chapter {
	margin-left: 183px;
	padding: 0 0 40px 10px;
}

div.chapter h1,
div.chapter h2,
div.chapter h3 {
	color: #314c72;
	margin: 0;
}

div.chapter h1 {
	background: #8695b3;
	padding: .3em .5em .2em;
	font: bold 24px "Lucia Grande", Helvetica, Arial, sans-serif;
}

div.chapter h2 {
	background: #8695b3;
	padding: .4em .5em .2em;
}

div.chapter h1 a,
div.chapter h2 a {
	display: block;
	color: #fff;
	text-decoration: none;
}

div.chapter h3 a,
div.chapter h4 a,
div.chapter h5 a {
	color: #314c72;
}

div.chapter p {
	margin: 12px 0;
}

div.note {
	margin: 0 .5in;
	padding: 0 15px 0;
	border-color: #8b1a1a;
	border-width: 0 3px;
	border-style: solid;
}

div.note h3.title {
	color: #8B1A1A;
}

div.screenshot div.mediaobject {
	text-align: center;
	margin: 12px 0;
}

div.mediaobject {
	text-align: center;
	margin: 0;
}

div.glossdiv {
	margin-top: 12px;
}

.emphasis {
	font-weight: bold;
}

a:link {
	color: #6298E5;
	text-decoration: none;
}
a:visited {
	color: #6298E5;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.filename {
	color: #8B1A1A;
}
span.term {
	font-weight: bold;
}
span.guilabel {
	font-weight: bold;
}
span.guimenu {
	font-weight: bold;
}

.programlisting {
	font-family: monospace;
	font-size: medium;
	background-color: #E6E6E6;
	border: thin black inset;
	overflow: auto;
	padding: 2px 5px;
}

.literallayout {
	font-family: monospace;
}

.screen {
	font-family: monospace;
	font-size: medium;
	border: thin black inset;
	background-color: white;
	overflow: auto;
	padding: 2px 5px;
}

body {
    margin: 0;
    padding: 30px 40px;
    background: url("https://www.macports.org/img/top-backdrop.png") repeat-x #EDEDED;
    font: 12px Helvetica, Arial, sans-serif;
    line-height: 1.2em;
}

/* Tabswitch for single page/chunked */
div#tabswitch {
	position: relative;
	right: 0;
	background-color: #8695B3;
	border: 1px solid #000;
	float: right;
}

body.singlepage div#tabswitch {
	top: 75px;
}

body.chunked div#tabswitch {
	top: -75px;
}

div#tabswitch a {
	padding: .3em;
	line-height: 2em;
}

div#tabswitch a.selected {
	font-weight: bold;
}

div#tabswitch a:link {
	color: #fff;
	text-decoration: none;
}

div#tabswitch a:hover {
	color: #242933;
}

div#tabswitch a:visited {
	color: #fff;
	text-decoration: none;
}
